pandas
boto3>=1.42.55
awscli>=1.44.49
psycopg2-binary
faker
openpyxl
kafka-python
requests  # Required for Airflow Team notifications

# Airflow is managed via Docker in phase_5_airflow_orchestration
